@charset "UTF-8";

.bar {
  display: flex;
  height: 45px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  align-items: center;
  justify-content: space-between;
}
.header_nav > ul {
  width: 360px;
  font-size: 11px;
  list-style: none;
  padding-left: 150px;
  display: flex;
  justify-content: space-around;
}

.header_sub > ul {
  width: 210px;
  font-size: 11px;
  list-style: none;
  padding-right: 150px;
  display: flex;
  justify-content: space-around;

/** header**/
.header {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_main {
	width: 300px;
}

.nav_main > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.nav_main a {
    color: white;
}


.nav_sub {
    width: 200px;
}

.nav_sub > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav_sub a {
    color: white;
    
}



.icon {
	vertical-align: bottom;

}