@charset "UTF-8";

.bar {
  display: flex;
  height: 45px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  align-items: center;
  justify-content: space-between;
}
.header_nav > ul {
  width: 360px;
  font-size: 11px;
  list-style: none;
  padding-left: 150px;
  display: flex;
  justify-content: space-around;
}

.header_sub > ul {
  width: 210px;
  font-size: 11px;
  list-style: none;
  padding-right: 150px;
  display: flex;
  justify-content: space-around;
}