<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
  <configuration>
  		<typeAliases>
  			<typeAlias type="java.lang.Long" alias="Long"/>
  			<typeAlias type="com.shop.s1.memberJoin.MemberJoinDTO" alias="MemberJoinDTO"/>
  			<typeAlias type="com.shop.s1.memberJoin.MemberJoinDAO" alias="MemberJoinDAO"/>

  			<typeAlias type="com.shop.s1.product.ProductDTO" alias="ProductDTO"/>
  			<typeAlias type="com.shop.s1.product.ProductDAO" alias="ProductDAO"/>
  			<typeAlias type="com.shop.s1.board.BoardDTO" alias="BoardDTO"/>
  			<typeAlias type="com.shop.s1.board.BoardDAO" alias="BoardDAO"/>
  			<typeAlias type="com.shop.s1.detailOrder.DetailOrderDTO" alias="DetailOrderDTO"/>
  			<typeAlias type="com.shop.s1.detailOrder.DetailOrderDAO" alias="DetailOrderDAO"/>
  			<typeAlias type="com.shop.s1.forum.review.ReviewDTO" alias="ReviewDTO"/> 
  			<typeAlias type="com.shop.s1.util.Pager" alias="Pager"/> 			

  			<typeAlias type="com.shop.s1.cart.CartDTO" alias="CartDTO"/>
  			<typeAlias type="com.shop.s1.cart.CartDAO" alias="CartDAO"/>
  			<typeAlias type="com.shop.s1.orders.OrdersDTO" alias="OrdersDTO"/>
  			<typeAlias type="com.shop.s1.orders.OrdersDAO" alias="OrdersDAO"/>

  		</typeAliases>
  </configuration>