<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
  <configuration>
  		<typeAliases>
  			<typeAlias type="com.shop.s1.memberJoin.MemberJoinDTO" alias="MemberJoinDTO"/>
  			<typeAlias type="com.shop.s1.memberJoin.MemberJoinDAO" alias="MemberJoinDAO"/>
  			<typeAlias type="com.shop.s1.product.ProductDTO" alias="ProductDTO"/>
  			<typeAlias type="com.shop.s1.product.ProductDAO" alias="ProductDAO"/>
  			<typeAlias type="com.shop.s1.board.BoardDTO" alias="BoardDTO"/>
  			<typeAlias type="com.shop.s1.board.BoardDAO" alias="BoardDAO"/>
  			<typeAlias type="com.shop.s1.detailOrder.DetailOrderDTO" alias="DetailOrderDTO"/>
  			<typeAlias type="com.shop.s1.detailOrder.DetailOrderDAO" alias="DetailOrderDAO"/>
  		</typeAliases>
  </configuration>