<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shop.s1.board.BoardDAO">
	
	<!-- List Mapper -->
	<select id="list" parameterType="Pager" resultType="BoardDTO">
		SELECT * FROM
			(SELECT ROWNUM R, B.* FROM
				(SELECT * FROM BOARD WHERE B_NUM > 0
				 ORDER BY B_NUM DESC
				 ) B
			)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<!-- DB의 총 컬럼 갯수를 구하는 Mapper -->
	<select id="total" resultType="Long">
		SELECT COUNT(B_NUM) FROM BOARD
	 		WHERE B_NUM > 0
	</select>
	
	<!-- detail Mapper -->
	<select id="detail" resultType="BoardDTO">
		SELECT * FROM BOARD WHERE B_NUM = #{b_num}
	</select>
	
	<!-- Insert Mapper -->
	<insert id="add" parameterType="BoardDTO">
		INSERT INTO BOARD (B_NUM, B_TITLE, B_CONTENTS, B_WRITER)
		VALUES (BOARD_SEQ.NEXTVAL, #{b_title}, #{b_contents}, #{b_writer})
	</insert>
	
	<!-- Update Mapper -->
	<update id="update" parameterType="BoardDTO">
		UPDATE BOARD SET B_TITLE = #{b_title}, B_CONTENTS = #{b_contents}
		WHERE B_NUM = #{b_num}
	</update>
	
	<!-- Delete Mapper -->
	<delete id="delete" parameterType="BoardDTO">
		DELETE FROM BOARD WHERE B_NUM = #{b_num}
	</delete>
	
	
</mapper>
