<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shop.s1.board.BoardDAO">
	
	<!-- List Mapper -->
	<select id="list" resultType="BoardDTO">
		SELECT * FROM BOARD ORDER BY NUM DESC
	</select>
	
	<!-- detail Mapper -->
	<select id="detail" resultType="BoardDTO">
		SELECT * FROM BOARD WHERE NUM = #{num}
	</select>
	
	<!-- Insert Mapper -->
	<insert id="add" parameterType="BoardDTO">
		INSERT INTO BOARD (NUM, TITLE, CONTENTS, WRITER)
		VALUES (BOARD_SEQ.NEXTVAL, #{title}, #{contents}, #{writer})
	</insert>
	
	<!-- Update Mapper -->
	<update id="update" parameterType="BoardDTO">
		UPDATE BOARD SET TITLE = #{title}, CONTENTS = #{contents}
		WHERE NUM = #{num}
	</update>
	
	
</mapper>
