<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.shop.s1.cart.CartDAO">
    
    	<insert id="add" parameterType="CartDTO">
    		INSERT INTO CART (C_NUM,M_ID,P_NUM,T_NUM,C_STOCK)
			VALUES (cart_seq.nextval,#{m_id},#{p_num},#{t_num},#{c_stock})
			
    	</insert>
    	
    	<!-- 카트확인 detail -->
    	<select id="detail" parameterType="CartDTO" resultType="CartDTO">
    		SELECT * FROM CART 
    		WHERE M_ID=#{m_id} 
    	</select>
    	
    	<delete id="delete" parameterType="CartDTO">
    		DELETE CART WHERE C_NUM=#{c_num} AND M_ID=#{m_id}
    	</delete>
    	<!-- 카트목록 -->
    	<select id="cartList" resultType="CartListDTO">
		SELECT  ROW_NUMBER() OVER(ORDER BY C.C_NUM DESC) AS NUM,
		C.C_NUM, C.M_ID,C.P_NUM,C.C_STOCK,C.ADDDATE,C.T_NUM,
		P.P_NAME,P.P_PRICE
		FROM CART C INNER JOIN PRODUCT P ON C.P_NUM=P.P_NUM
		WHERE C.M_ID=#{m_id}
    	</select>
    </mapper>