<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shop.s1.orders.OrdersDAO">
	
	
	<!-- 주문정보 ordersDetail -->
	<insert id="ordersDetail" parameterType="OrdersDetailDTO">
		INSERT INTO ORDERS_DETAIL(ORDERID,M_ID,O_NAME,O_ADDRESS,O_PHONE,O_AMOUNT)
		VALUES(#{orderid},#{m_id},#{o_name},#{o_address},#{o_phone},#{o_amount})
	</insert>
	
	<!-- cart에 있는거 가져오는 주문정보 orders -->
	<insert id="orders" parameterType="OrdersDTO">
		INSERT INTO ORDERS(O_NUM,ORDERID,P_NUM,C_STOCK)
		SELECT ORDERS_SEQ.NEXTVAL,#{orderid},P_NUM,C_STOCK FROM CART WHERE M_ID=#{m_id}
	</insert>
	
	<!-- 카트 비우기 -->
	<delete id="cartAllDelete" parameterType="OrdersDetailDTO">
		DELETE CART WHERE M_ID=#{m_id}
	</delete>
	
	<!-- 특정 유저의 주문 목록 -->
	<select id="orderList" parameterType="OrdersDetailDTO" resultType="OrdersDetailDTO">
		SELECT ORDERID,M_ID,O_NAME,O_ADDRESS,O_PHONE,O_AMOUNT,O_DATE
		FROM ORDERS_DETAIL 
		WHERE M_ID=#{m_id}
		ORDER BY O_DATE DESC
	</select>
	
	<!-- 주문목록에서 특정상품 상세보기 -->
	<select id="orderView" resultType="OrderListDTO">
		SELECT D.ORDERID, D.M_ID, D.O_NAME, D.O_ADDRESS, D.O_PHONE, D.O_AMOUNT, D.O_DATE,
        		O.O_NUM, O.P_NUM, O.C_STOCK,
        		P.P_NAME, P.P_PRICE
		FROM ORDERS_DETAIL D
    		INNER JOIN ORDERS O
     			ON D.ORDERID=O.ORDERID
    		INNER JOIN PRODUCT P
     			ON O.P_NUM=P.P_NUM
		WHERE D.M_ID=#{m_id} AND D.ORDERID=#{orderid}
		
	</select>
	
	
	
	<delete id="delete" parameterType="OrdersDTO">
		DELETE ORDERS WHERE O_NUM=#{o_num}
	</delete>
	
	<select id="list" resultType="OrdersDTO">
		SELECT * FROM ORDERS
	</select>
</mapper>