<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shop.s1.product.ProductDAO">

	<!-- List Mapper -->
	<select id="list" resultType="ProductDTO">
		SELECT * FROM PRODUCT ORDER BY P_NUM DESC
	</select>
	
	<!-- Detail Mapper -->
	<select id="detail" parameterType="ProductDTO" resultMap="ProductDetailResult">
		SELECT P.*, PF.*
		FROM
			PRODUCT P
				LEFT OUTER JOIN
			PRODUCTFILE PF
			ON P.P_NUM = PF.P_NUM
		WHERE P.P_NUM = #{p_num}
	</select>
	
	<resultMap type="ProductDTO" id="ProductDetailResult">
		<!-- PK -->
		<id column="p_num" property="p_num"/>
		<!-- PK를 제외한 나머지 -->
		<result column="t_num" property="t_num"/>
		<result column="p_name" property="p_name"/>
		<result column="p_price" property="p_price"/>
		<result column="p_count" property="p_count"/>
		<result column="p_stock" property="p_stock"/>
		<result column="p_detail" property="p_detail"/>
		<!-- 1:1일 때 사용 -->
		<association property="productFileDTO" javaType="ProductFileDTO">
			<!-- PK -->
			<id column="pf_num" property="pf_num"/>
			<!-- PK를 제외한 나머지 -->
			<result column="pf_fileName" property="pf_fileName"/>
			<result column="pf_oriName" property="pf_oriName"/>
		</association>
	</resultMap>
	
	<!-- Insert Mapper -->
	<insert id="add" parameterType="ProductDTO">
		<selectKey keyProperty="p_num" order="BEFORE" resultType="Long">
			SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO PRODUCT (P_NUM, T_NUM, P_NAME, P_PRICE, P_STOCK, P_DETAIL)
			VALUES (#{p_num}, #{t_num}, #{p_name}, #{p_price}, #{p_stock}, #{p_detail})
	</insert>
	
	<!-- File Insert Mapper -->
	<insert id="addFile" parameterType="ProductFileDTO">
		INSERT INTO PRODUCTFILE (PF_NUM, P_NUM, PF_FILENAME, PF_ORINAME)
		VALUES (PRODUCTFILE_SEQ.NEXTVAL, #{p_num}, #{pf_fileName}, #{pf_oriName})
	</insert>
	
	<!-- File Lookup -->
	<select id="lookUpFile" parameterType="ProductDTO" resultType="ProductFileDTO">
		SELECT * FROM PRODUCTFILE WHERE P_NUM = #{p_num}
	</select>
	
	<!-- Update Mapper -->
	<update id="update" parameterType="ProductDTO">
		UPDATE PRODUCT SET P_NAME = #{p_name},T_NUM=#{t_num}, P_PRICE = #{p_price}, 
		P_STOCK = #{p_stock}, P_DETAIL = #{p_detail} WHERE P_NUM = #{p_num}
	</update>
	
	<!-- Delete Mapper -->
	<delete id="delete" parameterType="ProductDTO">
		DELETE FROM PRODUCT WHERE P_NUM = #{p_num}
	</delete>
	
</mapper>
