<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shop.s1.forum.review.ReviewDAO">

	<select id="list" parameterType="Pager" resultType="ReviewDTO">
		SELECT * FROM
			(SELECT ROWNUM R, B.* FROM
				(SELECT * FROM REVIEW WHERE NUM > 0
					AND
						<choose>
							<when test="kind=='col1'">
								TITLE
							</when>
							<when test="kind=='col2'">
								CONTENTS
							</when>
							<otherwise>
								WRITER
							</otherwise>
						</choose>
						LIKE '%'||#{search}||'%'
			 		ORDER BY NUM DESC
				) B
			)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="total" resultType="Long">
		SELECT COUNT (NUM) FROM REVIEW
			WHERE NUM> 0 AND
		<choose>
			<when test="kind=='col1'">
				TITLE
			</when>
			<when test="kind=='col2'">CONTENTS</when>
			<otherwise>
				WRITER
			</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
	</select>
	
	<select id="detail" resultType="ReviewDTO">
		SELECT * FROM REVIEW WHERE NUM = #{num}
	</select>

	<insert id="add" parameterType="ReviewDTO">
		INSERT INTO REVIEW (NUM, M_ID, T_NUM, TITLE, CONTENTS,
		 WRITER, REGDATE, HIT, REF, STEP, DEPTH)
		VALUES (REVIEW_SEQ.NEXTVAL, #{m_id}, #{t_num}, #{title}, #{contents}, #{writer}, 
		SYSDATE, 0, REVIEW_SEQ.CURRVAL, 0, 0)
	</insert>
	
	<insert id="reply" parameterType="ReviewDTO">
		INSERT INTO REVIEW (NUM, M_ID, T_NUM, TITLE, CONTENTS,
		 WRITER, REGDATE, HIT, REF, STEP, DEPTH)
		 VALUES (REVIEW_SEQ.NEXTVAL, #{m_id}, #{t_num}, #{title}, #{contents}, #{writer},
		 SYSDATE, 0, #{ref}, #{step}, #{depth})
	</insert>
	
	<update id="update" parameterType="ReviewDTO">
		UPDATE REVIEW SET TITLE = #{title}, CONTENTS = #{contents}, 
		WRITER = #{writer} WHERE NUM = #{num}
	</update>
	
	<update id="stepUpdate" parameterType="ReviewDTO">
		UPDATE REVIEW SET STEP = STEP + 1
		WHERE REF = #{ref} and STEP > #{step}
	</update>
	
	<delete id="delete" parameterType="ReviewDTO">
		DELETE FROM REVIEW WHERE NUM = #{num}
	</delete>
	
	
</mapper>
