<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shop.s1.forum.shopQna.ShopQnaDAO">
		
		<select id="list" parameterType="Pager" resultType="ShopQnaDTO">
			SELECT*FROM
			(SELECT ROWNUM R,B.*FROM
			(SELECT*FROM SHOPQNA WHERE NUM>0
			AND
		<choose>
			<when test="kind=='col1'">
				TITLE
			</when>
			<when test="kind=='col2'">
				CONTENTS
			</when>
			<otherwise> WRITER
			</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'  ORDER BY REF DESC, STEP ASC)B)
			WHERE R BETWEEN #{startRow} AND #{lastRow}
		</select>
		
		<select id="total" resultType="LONG">
			SELECT COUNT (NUM) FROM SHOPQNA
			WHERE NUM>0 AND
		<choose>
			<when test="kind=='col1'">
				TITLE
			</when>
			<when test="kind=='col2'">CONTENTS</when>
			<otherwise>
				WRITER
			</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
			
		</select>
		
		<select id="detail" parameterType="ShopQnaDTO" resultType="ShopQnaDTO">
			SELECT*FROM SHOPQNA WHERE NUM=#{num}
		</select>
		
		<insert id="add" parameterType="ShopQnaDTO">
			INSERT INTO SHOPQNA(NUM, TITLE, T_NUM, CONTENTS, WRITER, REGDATE, HIT, REF, STEP, DEPTH)
			VALUES (SHOPQNA_SEQ.NEXTVAL, #{title}, #{t_num}, #{contents}, #{writer}, SYSDATE, 0, SHOPQNA_SEQ.CURRVAL, 0, 0)
		</insert>
		
		<delete id="delete" parameterType="ShopQnaDTO">
			DELETE SHOPQNA WHERE NUM=#{num}
		</delete>

		<update id="update" parameterType="ShopQnaDTO">
			UPDATE SHOPQNA SET TITLE = #{title}, CONTENTS = #{contents}
			WHERE NUM = #{num}
		</update>
		
		<insert id="reply" parameterType="ShopQnaDTO">
			INSERT INTO SHOPQNA(NUM, TITLE,	WRITER, CONTENTS, REGDATE, HIT, REF, STEP, DEPTH, T_NUM)
			VALUES (SHOPQNA_SEQ.NEXTVAL, #{title}, #{writer}, #{contents}, SYSDATE, 0, #{ref}, #{step}, #{depth}, #{t_num})
		</insert>
	
	<update id="stepUpdate" parameterType="ShopQnaDTO">
		UPDATE SHOPQNA SET STEP=STEP+1
		WHERE REF=#{ref} AND STEP>#{step}
	</update>
</mapper>