<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shop.s1.wishlist.WishlistDAO">

	<select id="wishlistList" resultType="WishlistListDTO">
		SELECT W.W_NUM, W.M_ID, W.P_NUM,W.T_NUM,
		P.P_NAME, P.P_PRICE
		FROM WISHLIST W
		INNER JOIN PRODUCT P 
		ON W.P_NUM=P.P_NUM
		WHERE W.M_ID=#{m_id}
	</select>
		
	<select id="detail" parameterType="WishlistDTO" resultType="WishlistDTO">
		SELECT*FROM WISHLIST WHERE M_ID=#{m_id}
	</select>
	
	<insert id="add" parameterType="WishlistDTO">
		INSERT INTO WISHLIST (W_NUM, M_ID, P_NUM, T_NUM)
		VALUES (WISHLIST_SEQ.NEXTVAL,#{m_id}, #{p_num}, #{t_num})
	</insert>
	
	<delete id="delete" parameterType="WishlistDTO">
		DELETE WISHLIST WHERE W_NUM =#{w_num} AND M_ID=#{m_id}		
	</delete>
	

	
</mapper>